.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 250px;
    height: 100px;
    outline: dashed 1px black;
    /* Setup */
    position: relative;
  }
  
  .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    text-align: center;
  }